<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.espilce.commons.emf.registry.epackage_registry_observer">
      <observer
            class="org.espilce.commons.emf.registry.test.TestEPackageRegistryObserver"
            uri="http://www.eclipse.org/emf/2002/Ecore">
      </observer>
   </extension>

</plugin>
